! colors
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! urxvt
urxvt*termName: rxvt-unicode
urxvt*loginShell: true
urxvt*scrollBar: false
urxvt*secondaryScroll: true
urxvt*saveLines: 65535
urxvt*cursorBlink: true
urxvt*urgentOnBell: true
urxvt*borderLess: false
urxvt*internalBorder: 15
urxvt*urlLauncher: /usr/bin/xdg-open
urxvt*matcher.button: 1
urxvt*depth: 32
urxvt*background: [78]#1e1e1e
urxvt*font: xft:Inconsolata:pixelsize=12



! cursor
Xcursor.theme: DMZ-Black
Xcursor.size: 16

! dpi
!Xft.dpi: 70
