! colors
*background: #0d1926
*foreground: #d9e6f2

*color0: #000000
*color8: #2a2a2a
*color1: #e13258
*color9: #f2a8b8
*color2: #58e132
*color10: #b8f2a8
*color3: #e1bb32
*color11: #f2e2a8
*color4: #3258e1
*color12: #a8b8f2
*color5: #bb32e1
*color13: #e2a8f2
*color6: #32e1bb
*color14: #a8f2e2
*color7: #dfdfdf
*color15: #ffffff

! urxvt
urxvt*loginShell: true
urxvt*scrollBar: false
urxvt*secondaryScroll: true
urxvt*saveLines: 65535
urxvt*cursorBlink: true
urxvt*urgentOnBell: true
urxvt*borderLess: false
urxvt*internalBorder: 15
urxvt*urlLauncher: /usr/bin/google-chrome-stable
urxvt*matcher.button: 1
urxvt*depth: 32
urxvt*background: [88]#000000
urxvt*font: xft:Inconsolata:pixelsize=12

! rofi
rofi.color-enabled: true
rofi.color-window: argb:DD000000, argb:0ffffff, argb:0ffffff
rofi.color-normal: argb:0ffffff, #ffffff, argb:11000000, argb:32ffffff, #ffffff
rofi.color-active: #ffffff, #268bd2, #f0f0f0, argb:bb268bd2, #ffffff
rofi.color-urgent: #ffffff, #dc322f, #f0f0f0, argb:bbdc322f, #ffffff
rofi.location: 2
rofi.yoffset: 30
rofi.width: 700
rofi.padding: 60
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.sidebar-mode: false
rofi.fullscreen: false
rofi.hmode: true
rofi.modi: combi,run,window,ssh
rofi.combi-modi: window,run,ssh
rofi.lines: 7
rofi.columns: 1

! cursor
Xcursor.theme: DMZ-Black
Xcursor.size: 16

! dpi
!Xft.dpi: 70
