configuration {
  cycle: false;
  drun-display-format: "{name}";
  modi: [drun];
  monitor: "primary";
  show-icons: true;
  sort: true;
  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

@theme "themes/line"