#window {
    font-size: 14px;
    background: transparent;
    background-image: url("/home/phisch/Pictures/wallpapers/grape.png");
    background-size: calc(2560px / 1.4);
    color: white;
}

#outer-box {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        transparent,
        transparent
    );
}

#input {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: transparent;
    color: white;
}

#entry {
    background: transparent;
    padding: 7px 1em 8px;
    outline: 0;
}

#entry:selected {
    background: rgba(255, 255, 255, 0.1);
}

#img {
    margin-right: 0.5em;
}
