#window {
    font-size: 14px;
    background: transparent;
    background-image: url("/home/phisch/Pictures/wallpapers/grape.png");
    background-position: 0 0;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

#outer-box {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), transparent, transparent);
}

#input {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: transparent;
}

#entry {
    background: transparent;
    padding: 7px 1em;
    outline: 0;
}

#entry:selected {
    background: rgba(255,255,255,0.1);
}

#img {
    margin-right: 0.5em;
}