environment {
    DISPLAY ":0"
    QT_QPA_PLATFORM "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    MANGOHUD "0"
    MANGOHUD_DLSYM "1"
    EDITOR "zeditor -w -n"
    _JAVA_AWT_WM_NONREPARENTING "1"
    _JAVA_OPTIONS "-Dawt.useSystemAAFontSettings=gasp"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

prefer-no-csd

screenshot-path "~/Pictures/screenshots/%Y-%m-%d %H-%M-%S.png"

spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "phinger-cursors-light"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "32"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "adw-gtk3-dark"

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
            layout "de(nodeadkeys)"
        }
    }

    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
    }

    trackpoint {
        accel-speed -0.4
    }

    tablet {
        map-to-output "DP-3"
    }

    touch {
        map-to-output "DP-3"
    }
}

output "LG Electronics 34GP950G #GTIYMxgwABBH" {
    mode "3440x1440@179.981"
    scale 1.0
    transform "normal"
    position x=0 y=0
    background-color "#101010"
}

output "Chimei Innolux Corporation 0x1458 Unknown" {
    mode "1920x1200@60.003"
    scale 1.0
    transform "normal"
    position x=0 y=0
    background-color "#0a0a0a"
}

layout {
    empty-workspace-above-first
    gaps 14

    preset-column-widths {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    focus-ring {
        off
    }

    insert-hint {
        color "#FFFFFF10"
    }

    struts {
        top -8
    }

    tab-indicator {
        hide-when-single-tab
        place-within-column
        gap 10
        width 3
        length total-proportion=0.6
        position "left"
        gaps-between-tabs 20
        corner-radius 8
        active-color "#8B76EA"
        inactive-color "#FFFFFF20"
    }
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 80
        delay-ms 200
        max-speed 2000
    }
}

cursor {
    xcursor-theme "phinger-cursors-light"
    xcursor-size 32
}

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
    window-close {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
    }
}

overview {
    backdrop-color "#131313"
}

window-rule {
    min-height 200
    min-width 200
    geometry-corner-radius 6
    clip-to-geometry true

    shadow {
        on
        softness 12
        spread 4
        offset x=0 y=0
        color "#00000090"
        draw-behind-window true
    }

    border {
        on
        width 3
        active-color "#232323"
        inactive-color "#ff000000"
    }
}

window-rule {
    match is-focused=true

    shadow {
        spread 4
    }
}

window-rule {
    match is-window-cast-target=true

    border {
        active-color "#3b2424"
        inactive-color "#3b2424"
    }
}

window-rule {
    match title=r#"(?i)gmail"#
    match title=r#"(?i)inertia"#
    match title="Signal"

    block-out-from "screen-capture"
}

window-rule {
    match is-window-cast-target=true title=r#"(?i)gmail"#
    match is-window-cast-target=true title=r#"(?i)inertia"#
    match is-window-cast-target=true title="Signal"

    opacity 0.3
}

window-rule {
    match app-id="steam_app"
    open-fullscreen true
}

window-rule {
    match app-id="gcr-prompter"
    open-floating true

    geometry-corner-radius 1

    border {
        on
        width 8
        active-color "#242424"
        inactive-color "#242424"
    }
}

window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="zenity" title="Progress"
    open-floating true
}

window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match title="^Picture in picture$"

    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="bottom-left"
}

window-rule {
    match app-id="steam" title="^notification"

    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="bottom-right"
}

layer-rule {
    match namespace="sherlock"

    shadow {
        on
        softness 30
        spread 10
        offset x=0 y=0
        draw-behind-window true
        color "#000000A0"
    }
}

binds {
    Mod+W { close-window; }

    Mod+Return { spawn "alacritty"; }
    Mod+Space { spawn "sherlock"; }

    Print {
        spawn "sh" "-c" r#"
            file=~/Pictures/screenshots/"$(date +%s)".png
            grim -g "$(slurp -b '#00000090' -w 0)" "$file"
            wl-copy < "$file"
        "#;
    }

    Alt+Print { screenshot; }

    Ctrl+Print {
        spawn "sh" "-c" r#"
            file=~/Videos/recordings/"$(date +%s)".mp4
            gpu-screen-recorder -w region -region "$(slurp -b '#00000090' -w 0 -f %wx%h+%x+%y)" -o "$file"
            wl-copy file:/"$file" -t text/uri-list
        "#;
    }

    Ctrl+Escape { spawn "pkill" "-SIGINT" "-f" "gpu-screen-recorder"; }

    Mod+Alt+Escape { quit skip-confirmation=true; }

    Mod+Shift+P { power-off-monitors; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Xf86MonBrightnessUp allow-when-locked=true { spawn "light" "-A" "1"; }
    Xf86MonBrightnessDown allow-when-locked=true { spawn "light" "-U" "1"; }
    Alt+Prior allow-when-locked=true { spawn "light" "-A" "1"; }
    Alt+Next allow-when-locked=true { spawn "light" "-U" "1"; }

    Mod+Right { focus-column-right-or-first; }
    Mod+Left { focus-column-left-or-last; }

    Mod+Down { focus-window-or-workspace-down;}
    Mod+Up { focus-window-or-workspace-up; }

    XF86Tools { focus-window-or-workspace-down;}
    XF86Launch5 { focus-window-or-workspace-up; }

    Mod+Alt+Right { move-column-right; }
    Mod+Alt+Left { move-column-left; }

    Mod+Alt+Down { move-window-down-or-to-workspace-down; }
    Mod+Alt+Up { move-window-up-or-to-workspace-up; }

    Ctrl+Mod+Left  { consume-or-expel-window-left; }
    Ctrl+Mod+Right { consume-or-expel-window-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Alt+Home { move-column-to-first; }
    Mod+Alt+End  { move-column-to-last; }

    Mod+Alt+Page_Up   { move-workspace-up; }
    Mod+Alt+Page_Down { move-workspace-down; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Alt+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Alt+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollLeft cooldown-ms=150 { focus-column-left; }
    Mod+Alt+WheelScrollRight cooldown-ms=150 { move-column-right; }
    Mod+Alt+WheelScrollLeft cooldown-ms=150 { move-column-left; }

    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=150 { move-column-left; }

    Mod+TouchpadScrollDown { spawn "light" "-A" "1"; }
    Mod+TouchpadScrollUp   { spawn "light" "-U" "1"; }

    Menu { spawn "pactl" "set-source-mute" "0" "toggle"; }

    Mod+C { center-column; }
    // WISHLIST: toggle for `center-focused-column "always"`
    Mod+F { toggle-window-floating; }
    Mod+Alt+F { fullscreen-window; }
    Mod+F12 { fullscreen-window; }
    Mod+Shift+F { toggle-window-floating; }
    Ctrl+Mod+F { toggle-windowed-fullscreen; }
    Mod+X { maximize-column; }
    Ctrl+Mod+X { switch-preset-column-width; }
    Mod+R { reset-window-height; }

    Mod+B { clear-dynamic-cast-target; }
    Mod+N { set-dynamic-cast-window; }
    Mod+M { set-dynamic-cast-monitor; }
}
