[module/bspwm]
type = internal/bspwm

pin-workspaces = false
enable-scroll = false

format-spacing = 2
format-padding = 0

label-focused = 
label-focused-font = 3
label-focused-padding = ${variables.padding}
label-focused-foreground = ${colors.foreground}

label-urgent = 
label-urgent-font = 3
label-urgent-padding = ${variables.padding}
label-urgent-foreground = ${colors.color1}

label-occupied = 
label-occupied-font = 3
label-occupied-padding = ${variables.padding}
label-occupied-foreground = #60ffffff

label-empty = 
label-empty-font = 3
label-empty-padding = ${variables.padding}
label-empty-foreground = #60ffffff


[module/xwindow]
type = internal/xwindow
label = %title:5:120:...%


[module/wireless-network]
type = internal/network

interface = wlp2s0

format-connected = <ramp-signal><label-connected>

ramp-signal-0 = 冷
ramp-signal-1 = 爛
ramp-signal-2 = 嵐
ramp-signal-3 = 襤
ramp-signal-4 = 蠟

ramp-signal-padding-right = ${variables.padding}

label-connected = %essid%

format-disconnected-prefix = 來
format-disconnected-prefix-padding-right = ${variables.padding}
label-disconnected = %ifname%


[module/backlight]
type = internal/xbacklight
enable-scroll = true

format-prefix = 
format-prefix-padding-right = ${variables.padding}


[module/battery]
type = internal/battery

full-at = 100

battery = BAT0
adapter = ADP1

poll-interval = 3
animation-charging-framerate = 800

format-full-prefix = 
format-full-prefix-padding-right = ${variables.padding}

format-charging-prefix = 
format-charging-prefix-padding-right = ${variables.padding}

format-discharging = <ramp-capacity><label-discharging>

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
ramp-capacity-10 = 

ramp-capacity-padding-right = ${variables.padding}


[module/volume]
type = internal/pulseaudio

use-ui-max = true
interval = 1

format-volume = <ramp-volume><label-volume>

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

ramp-volume-padding-right = ${variables.padding}

format-muted-foreground = ${colors.color1}
format-muted-prefix = 
format-muted-prefix-padding-right = ${variables.padding}


[module/filesystem]
type = internal/fs

mount-0 = /

interval = 10
fixed-values = true
spacing = 0

format-mounted-prefix = 
format-mounted-prefix-padding-right = ${variables.padding}
label-mounted = %mountpoint% %free%

format-unmounted-prefix = 
format-unmounted-prefix-padding-right = ${variables.padding}
format-unmounted-foreground = ${colors.color1}


[module/cpu]
type = internal/cpu

format-prefix = 
format-prefix-padding-right = ${variables.padding}


[module/memory]
type = internal/memory

format-prefix = 
format-prefix-padding-right = ${variables.padding}


[module/temperature]
type = internal/temperature

interval = 1
thermal-zone = 0
warn-temperature = 60
units = true

format-prefix = 
format-prefix-padding-right = ${variables.padding}

format-warn-prefix = 
format-warn-prefix-padding-right = ${variables.padding}
format-warn-foreground = ${colors.color1}


[module/date]
type = internal/date

format-prefix = 肋
format-prefix-padding-right = ${variables.padding}
label = %date% %time%

date = "%a %d.%m"
date-alt = "%a %d.%m.%Y"

time = "%H:%M"
time-alt = "%H:%M:%S"


[module/power]
type = custom/menu

expand-right = false

format-padding = 0
format-font = 2

label-open = 
label-open-padding = ${variables.padding}
label-open-foreground = ${colors.color1}

label-close = 
label-close-padding = ${variables.padding}
label-close-foreground = ${colors.foreground}

menu-0-0 = 
menu-0-0-padding = ${variables.padding}
menu-0-0-foreground = ${colors.color3}
menu-0-0-exec = systemctl suspend

menu-0-1 = 
menu-0-1-padding = ${variables.padding}
menu-0-1-foreground = ${colors.color2}
menu-0-1-exec = reboot

menu-0-2 = 
menu-0-2-padding = ${variables.padding}
menu-0-2-foreground = ${colors.color1}
menu-0-2-exec = poweroff