
[module/bspwm]
type = internal/bspwm

pin-workspaces = false
enable-scroll = false

format = "<label-monitor><label-state>"
format-padding = 0

label-monitor =

label-focused = %{T2}%{T-}
label-focused-foreground = ${colors.foreground}
label-focused-padding = ${variables.padding}

label-urgent = %{T2}%{T-}
label-urgent-foreground = ${colors.color2}
label-urgent-padding = ${variables.padding}

label-occupied = %{T2}%{T-}
label-occupied-foreground = #60ffffff
label-occupied-padding = ${variables.padding}

label-empty = %{T2}%{T-}
label-empty-foreground = #60ffffff
label-empty-padding = ${variables.padding}



[module/xwindow]
type = internal/xwindow
label = %title:5:120:...%



[module/wireless-network]
type = internal/network

interface = wlp2s0

format-connected = <ramp-signal><label-connected>

ramp-signal-0 = 冷
ramp-signal-1 = 爛
ramp-signal-2 = 嵐
ramp-signal-3 = 襤
ramp-signal-4 = 蠟

ramp-signal-padding-right = ${variables.padding}

label-connected = %essid%

format-disconnected = <label-disconnected>

format-disconnected-prefix = 來
format-disconnected-prefix-padding-right = ${variables.padding}

label-disconnected = %ifname%



[module/backlight]
type = internal/xbacklight
enable-scroll = true

format = <label>
format-prefix = 
format-prefix-padding-right = ${variables.padding}

label = %percentage%%


[module/battery]
type = internal/battery

full-at = 100

battery = BAT0
adapter = ADP1

poll-interval = 3
animation-charging-framerate = 800

format-full = <label-full>

format-full-prefix = 
format-full-prefix-padding-right = ${variables.padding}

label-full = %percentage%%

format-charging = <label-charging>

format-charging-prefix = 
format-charging-prefix-padding-right = ${variables.padding}

label-charging = %percentage%%

format-discharging = <ramp-capacity><label-discharging>

label-discharging = %percentage%%

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
ramp-capacity-10 = 

ramp-capacity-padding-right = ${variables.padding}



[module/cpu]
type = internal/cpu

format = <label>

format-prefix = 
format-prefix-padding-right = ${variables.padding}

label = %percentage%%


[module/memory]
type = internal/memory

format = <label>

format-prefix = 
format-prefix-padding-right = ${variables.padding}

label = %percentage_used%%



[module/filesystem]
type = internal/fs

mount-0 = /

interval = 10
fixed-values = false

format-mounted-prefix = 
format-mounted-prefix-padding-right = ${variables.padding}

label-mounted = %free%

format-unmounted-prefix = 
format-unmounted-prefix-padding-right = ${variables.padding}

label-unmounted = %mountpoint%: not mounted
label-unmounted-foreground = ${colors.color2}



[module/temperature]
type = internal/temperature

interval = 1
thermal-zone = 0
warn-temperature = 60
units = true

format = <label>
format-prefix = 
format-prefix-padding-right = ${variables.padding}

label = %temperature-c%

format-warn = <label-warn>
format-warn-foreground = ${colors.color2}
format-warn-prefix = 
format-warn-prefix-padding-right = ${variables.padding}

label-warn = %temperature-c%





[module/volume]
type = internal/pulseaudio
sink = bluez_sink.2C_41_A1_04_6D_09.a2dp_sink

use-ui-max = true
interval = 1

format-volume = <ramp-volume><label-volume>

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-padding-right = ${variables.padding}

label-volume = %percentage%%

format-muted = <label-muted>
format-muted-prefix = 
format-muted-prefix-padding-right = ${variables.padding}

label-muted = "muted"
label-muted-foreground = ${colors.color2}






[module/date]
type = internal/date

date = "%a %d.%m"
date-alt = "%a %d.%m.%Y"

time = "%H:%M"
time-alt = "%H:%M:%S"

format = <label>

format-prefix = 肋
format-prefix-padding-right = ${variables.padding}

label = %date% %time%



[module/power]
type = custom/menu

expand-right = false

label-padding = 10
format-padding = 0

label-open = 
label-open-foreground = ${colors.color2}
label-open-padding = ${variables.padding}

label-close = 
label-close-foreground = ${colors.foreground}
label-close-padding = ${variables.padding}

menu-0-0 = 
menu-0-0-foreground = ${colors.color7}
#menu-0-0-background = ${colors.info}
menu-0-0-exec = systemctl suspend
menu-0-0-padding = ${variables.padding}

menu-0-1 = 
menu-0-1-foreground = ${colors.color4}
#menu-0-1-background = ${colors.warning}
menu-0-1-exec = reboot
menu-0-1-padding = ${variables.padding}

menu-0-2 = 
menu-0-2-foreground = ${colors.color2}
#menu-0-2-background = ${colors.error}
menu-0-2-exec = poweroff
menu-0-2-padding = ${variables.padding}
