[module/bspwm]
type = internal/bspwm

pin-workspaces = false
enable-scroll = false

format-spacing = 2

label-focused = " %{T3}%{T-} "
label-focused-foreground = ${colors.foreground}

label-urgent = " %{T3}%{T-} "
label-urgent-foreground = ${colors.color2}

label-occupied = " %{T3}%{T-} "
label-occupied-foreground = #60ffffff

label-empty = " %{T3}%{T-} "
label-empty-foreground = #60ffffff


[module/xwindow]
type = internal/xwindow
label = %title:5:120:...%


[module/wireless-network]
type = internal/network

interface = wlp2s0

format-connected = <ramp-signal><label-connected>

ramp-signal-0 = 冷
ramp-signal-1 = 爛
ramp-signal-2 = 嵐
ramp-signal-3 = 襤
ramp-signal-4 = 蠟

ramp-signal-padding-right = ${variables.padding}

label-connected = %essid%

format-disconnected = <label-disconnected>

format-disconnected-prefix = 來
format-disconnected-prefix-padding-right = ${variables.padding}

label-disconnected = %ifname%


[module/backlight]
type = internal/xbacklight
enable-scroll = true

format = <label>
format-prefix = 
format-prefix-padding-right = ${variables.padding}

label = %percentage%%


[module/battery]
type = internal/battery

full-at = 100

battery = BAT0
adapter = ADP1

poll-interval = 3
animation-charging-framerate = 800

format-full = <label-full>

format-full-prefix = 
format-full-prefix-padding-right = ${variables.padding}

label-full = %percentage%%

format-charging = <label-charging>

format-charging-prefix = 
format-charging-prefix-padding-right = ${variables.padding}

label-charging = %percentage%%

format-discharging = <ramp-capacity><label-discharging>

label-discharging = %percentage%%

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
ramp-capacity-10 = 

ramp-capacity-padding-right = ${variables.padding}


[module/volume]
type = internal/pulseaudio

use-ui-max = true
interval = 1

format-volume = <ramp-volume> <label-volume>

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

label-volume = %percentage%%

format-muted =  <label-muted>

label-muted = %percentage%%
format-muted-foreground = ${colors.color2}


[module/filesystem]
type = internal/fs

mount-0 = /
mount-1 = /mnt/raid
mount-2 = /mnt/data

interval = 10
fixed-values = true

format-mounted =  <label-mounted>

label-mounted = %mountpoint%: %free%

format-unmounted =  <label-unmounted>

label-unmounted = %mountpoint%
label-unmounted-foreground = ${colors.color2}


[module/cpu]
type = internal/cpu

format =  <label>

label = %percentage%%


[module/memory]
type = internal/memory

format =  <label>

label = %percentage_used%%


[module/temperature]
type = internal/temperature

interval = 1
thermal-zone = 0
warn-temperature = 70
units = true

format =  <label>

format-warn =  <label-warn>
format-warn-foreground = ${colors.color2}


[module/date]
type = internal/date

label = 肋 %date% %time%

date = "%a %d.%m"
date-alt = "%a %d.%m.%Y"

time = "%H:%M"
time-alt = "%H:%M:%S"


[module/power]
type = custom/menu

expand-right = false

label-open = "  "
label-open-foreground = ${colors.color2}

label-close = "  "
label-close-foreground = ${colors.foreground}

menu-0-0 = "  "
menu-0-0-foreground = ${colors.color7}
menu-0-0-exec = systemctl suspend

menu-0-1 = "  "
menu-0-1-foreground = ${colors.color4}
menu-0-1-exec = reboot

menu-0-2 = "  "
menu-0-2-foreground = ${colors.color2}
menu-0-2-exec = poweroff